
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_authorLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <!--
    Page Content Starts here    
    -->
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Dashboard</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li>Dashboard</li>
            </ul>
        </div>
        <!-- Card -->
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
                <div class="widget-card widget-bg1">
                    <div class="wc-item">
                        <h4 class="wc-title">
                            Submitted Manuscript
                        </h4>
                        <span class="wc-stats">
                            <span class="counter">0</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
                <div class="widget-card widget-bg2">
                    <div class="wc-item">
                        <h4 class="wc-title">
                            Manuscript in Review
                        </h4>
                        <span class="wc-stats counter">
                            4
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
                <div class="widget-card widget-bg3">
                    <div class="wc-item">
                        <h4 class="wc-title">
                            Accepted Manuscript
                        </h4>
                        <span class="wc-stats counter">
                            2
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
                <div class="widget-card widget-bg4">
                    <div class="wc-item">
                        <h4 class="wc-title">
                            Published Manuscript
                        </h4>
                        <span class="wc-stats counter">
                            10
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card END -->
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-8 m-b30">
                
            </div>
            <!-- Your Profile Views Chart END-->
            <div class="col-lg-4 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>Notifications</h4>
                    </div>
                    <div class="widget-inner">
                        <div class="noti-box-list">
                            <ul>
                                <li>
                                    <span class="notification-icon dashbg-gray">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="notification-text">
                                        <span>Sneha Jogi</span> sent you a message.
                                    </span>
                                    <span class="notification-time">
                                        <a href="#" class="fa fa-close"></a>
                                        <span> 02:14</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="notification-icon dashbg-yellow">
                                        <i class="fa fa-shopping-cart"></i>
                                    </span>
                                    <span class="notification-text">
                                        <a href="#">Your order is placed</a> sent you a message.
                                    </span>
                                    <span class="notification-time">
                                        <a href="#" class="fa fa-close"></a>
                                        <span> 7 Min</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="notification-icon dashbg-red">
                                        <i class="fa fa-bullhorn"></i>
                                    </span>
                                    <span class="notification-text">
                                        <span>Your item is shipped</span> sent you a message.
                                    </span>
                                    <span class="notification-time">
                                        <a href="#" class="fa fa-close"></a>
                                        <span> 2 May</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="notification-icon dashbg-green">
                                        <i class="fa fa-comments-o"></i>
                                    </span>
                                    <span class="notification-text">
                                        <a href="#">Sneha Jogi</a> sent you a message.
                                    </span>
                                    <span class="notification-time">
                                        <a href="#" class="fa fa-close"></a>
                                        <span> 14 July</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="notification-icon dashbg-primary">
                                        <i class="fa fa-file-word-o"></i>
                                    </span>
                                    <span class="notification-text">
                                        <span>Sneha Jogi</span> sent you a message.
                                    </span>
                                    <span class="notification-time">
                                        <a href="#" class="fa fa-close"></a>
                                        <span> 15 Min</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</body>
</html>
